<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="fragment">
<section>
	<h1 th:text="${i18n.__(title)}"></h1>
	<div th:if="${games.empty}" class="jumbotron">
		<p class="text-info"><span class="glyphicon glyphicon-info-sign"></span> <span th:text="${i18n.__('There are no games available at this time.')}"></span></p>
	</div>
	<div th:if="${!games.empty}">
		<form>
			<label><input type="checkbox" name="hidestarted" /> <span th:text="${i18n.__('Hide games that have already started.')}"></span></label>
			<label><input type="checkbox" name="hidepassword" /> <span th:text="${i18n.__('Hide password protected games.')}"></span></label>
		</form>
		<table id="gamelist" class="table table-striped table-hover">
			<thead>
				<tr><th th:text="${i18n.__('Name')}"></th><th th:text="${i18n.__('Map')}"></th><th th:text="${i18n.__('Players')}"></th><th th:text="${i18n.__('Host')}"></th></tr>
			</thead>
			<tbody>
				<tr th:each="game : ${games}" th:class="${(game.hasStarted() ? 'started ' : game.hasEnded() ? 'ended ' : '') + (game.hasPassword() ? 'password' : '')}">
					<td>
						<a th:text="${game.name}" th:href="@{${url.game(game)}}"></a>
						<span class="glyphicon glyphicon-hourglass" th:title="${i18n.__('This game is in progress.')}" th:if="${game.hasStarted()}"></span>
						<span class="glyphicon glyphicon-ok" th:title="${i18n.__('This game has ended.')}" th:if="${game.hasEnded()}"></span>
						<span class="glyphicon glyphicon-lock" th:title="${i18n.__('This game requires a password to join.')}" th:if="${!game.hasEnded() &amp;&amp; game.hasPassword()}"></span>
					</td>
					<td><a th:text="${i18n.__(game.map.name)}" th:href="@{${url.map(game.map)}}"></a></td>
					<td th:text="${i18n.__('%1$d / %2$d', game.players.size, game.map.players)}"></td>
					<td th:text="${game.owner.name}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</section>
<div th:replace="chat::fragment"></div>
</body>
</html>