<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="fragment">
<nav>
	<ul class="nav nav-tabs nav-justified">
		<li style="display: none;"><a href="#tab-territory"></a></li>
		<li class="active"><a href="#tab-players" th:text="${i18n.__('Players')}"></a></li>
		<li><a href="#tab-territories" th:text="${i18n.__('Territories')}"></a></li>
		<li><a href="#tab-regions" th:text="${i18n.__('Regions')}"></a></li>
		<li class="player-only"><a href="#tab-cards" th:text="${i18n.__('Cards')}"></a></li>
		<li class="player-only"><a href="#tab-chatbox"><span th:text="${i18n.__('Chat')}"></span> <span class="number"></span></a></li>
		<li><a href="#tab-log"><span th:text="${i18n.__('Combat Log')}"></span> <span class="number"></span></a></li>
		<li><a href="#tab-settings" th:text="${i18n.__('Settings')}"></a></li>
		<li class="mobile-only"><a href="#tab-map" th:text="${i18n.__('Map')}"></a></li>
	</ul>
</nav>
<div class="row swipe-panes">
	<div class="col-sm-6">
		<section id="territory" class="swipe-pane">
			<h2><img data-value="flag" src="" alt="" /> <span data-value="name"></span></h2>
			<table class="table">
				<thead>
					<tr>
						<th th:text="${i18n.__('Player')}"></th>
						<th th:text="${i18n.__('Units')}"></th>
						<th th:text="${i18n.__('Regions')}"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td data-value="owner"></td>
						<td data-value="units"></td>
						<td data-value="regions"></td>
					</tr>
				</tbody>
			</table>
			<h3 th:text="${i18n.__('Borders')}"></h3>
			<div data-value="borders">
				<div class="row" data-value="border">
					<div class="col-xs-1"><img data-value="border-flag" src="" alt="" /></div>
					<div class="col-xs-11"><a href="" data-value="border-name"></a></div>
				</div>
			</div>
		</section>
		<section id="players" class="swipe-pane active">
			<table class="table">
				<thead>
					<tr>
						<th th:text="${i18n.__('Player')}"></th>
						<th th:text="${i18n.__('Territories')}"></th>
						<th th:text="${i18n.__('Units')}"></th>
						<th th:text="${i18n.__('Units per turn')}"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="player : ${game.players}" th:attr="data-player=${player.id}">
						<td data-value="name"><span class="user" th:text="${player.name}" th:style="${'color: #' + player.color}"></span></td>
						<td data-value="territories">-</td>
						<td data-value="units">-</td>
						<td>
							<span data-value="unitsperturn"></span>
							(<span data-value="unitsperturn-regions" th:title="${i18n.__('Units gained from regions')}"></span>
							+
							<span data-value="unitsperturn-territories" th:title="${i18n.__('Units gained from territories')}"></span>)
						</td>
					</tr>
				</tbody>
			</table>
			<div class="player-only">
				<h2 data-value="mission-name"></h2>
				<p data-value="mission-description"></p>
			</div>
		</section>
		<section id="territories" class="swipe-pane">
			<table class="table">
				<thead>
					<tr>
						<th th:text="${i18n.__('Flag')}"></th>
						<th th:text="${i18n.__('Territory')}"></th>
						<th th:text="${i18n.__('Player')}"></th>
						<th th:text="${i18n.__('Units')}"></th>
						<th th:text="${i18n.__('Regions')}"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="territory : ${game.map.territories.values}" th:attr="data-territory=${territory.id}">
						<td>
							<img th:src="@{${url.flag(territory)}}" th:alt="${i18n.__('Flag of %1$s', territory.name)}" data-value="flag" />
						</td>
						<td>
							<a th:href="${'#tab-territory-' + territory.id}" th:style="${'color: #' + territory.owner.color}" th:text="${i18n.__(territory.name)}"></a>
						</td>
						<td><span class="user" th:text="${territory.owner.name}" th:style="${'color: #' + territory.owner.color}"></span></td>
						<td data-value="units" th:text="${territory.units}"></td>
						<td data-value="regions">
							<img th:each="region : ${territory.regions}" th:src="@{${url.flag(region)}}" th:alt="${i18n.__(region.name)}" />
						</td>
					</tr>
				</tbody>
			</table>
		</section>
		<section id="regions" class="swipe-pane">
			<div th:each="region : ${game.map.regions.values}">
				<h2>
					<img th:src="@{${url.flag(region)}}" alt="" /> <span th:text="${i18n.__(region.name)}"></span>
					<button data-toggle="collapse" th:attr="data-target=${'#region-' + region.id}" class="btn collapsed">
						<span class="glyphicon glyphicon-chevron-up"></span>
						<span class="glyphicon glyphicon-chevron-down"></span>
					</button>
					<button class="btn" data-button="highlight" th:attr="data-region=${region.id}" th:text="${i18n.__('Highlight')}"></button>
				</h2>
				<p th:text="${i18n.__(i18n.resolve('%1$d territories, one unit per turn', '%1$d territories, %2$d units per turn', region.units), region.territories.size, region.units)}"></p>
				<div class="region-division" th:attr="data-region=${region.id}"></div>
				<div th:id="${'region-' + region.id}" class="collapse">
					<div th:each="territory : ${region.territories}" class="row" th:attr="data-territory=${territory.id}">
						<div class="col-xs-1">
							<img th:src="@{${url.flag(territory)}}" alt="" />
						</div>
						<div class="col-xs-11">
							<a th:href="${'#tab-territory-' + territory.id}" th:style="${'color: #' + territory.owner.color}" th:text="${i18n.__(territory.name)}"></a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="cards" class="swipe-pane player-only">
			<div data-value="card-list" class="text-center">
				<img th:each="card : ${player.cards}" class="card" th:src="@{${url.image('cards/' + card.ordinal() + '.png')}}" th:alt="${i18n.__(card.name)}" />
			</div>
			<div id="card-controls">
				<button class="btn btn-success" data-button="cards" data-value="4" th:text="${i18n.__('Place %1$d units', 4)}"></button>
				<button class="btn btn-success" data-button="cards" data-value="6" th:text="${i18n.__('Place %1$d units', 6)}"></button>
				<button class="btn btn-success" data-button="cards" data-value="8" th:text="${i18n.__('Place %1$d units', 8)}"></button>
				<button class="btn btn-success" data-button="cards" data-value="10" th:text="${i18n.__('Place %1$d units', 10)}"></button>
			</div>
		</section>
		<section id="chatbox" class="swipe-pane player-only" th:include="chat::fragment">
		</section>
		<section id="log" class="swipe-pane">
			<div class="form-control" id="combatlog">
				<div>
					<p class="loading" th:text="${i18n.__('Loading...')}"></p>
				</div>
				<label th:title="${i18n.__('Enable this to automatically scroll down to the latest message')}" class="btn log-scrolling">
					<input type="checkbox" name="logscrolling" checked />
					<span>
						<span class="glyphicon glyphicon-play"></span>
						<span class="glyphicon glyphicon-pause"></span>
					</span>
				</label>
			</div>
		</section>
		<section id="settings" class="swipe-pane">
			<div class="player-only">
				<label>
					<input type="checkbox" name="autoroll" />
					<span th:text="${i18n.__('Autoroll')}"></span>
				</label>
				<p th:text="${i18n.__('Disable autoroll to stop the game from automatically choosing the number of dice to defend with. Two dice will be used if the average of the highest two attacking dice is less than or equal to 3.5.')}"></p>
				<hr />
			</div>
			<label>
				<input type="radio" name="unitgraphics" value="default" />
				<span th:text="${i18n.__('Default unit graphics')}"></span>
			</label>
			<p th:text="${i18n.__('Select this to use unit icons.')}"></p>
			<label>
				<input type="radio" name="unitgraphics" value="numeric" />
				<span th:text="${i18n.__('Numeric unit graphics')}"></span>
			</label>
			<p th:text="${i18n.__('Select this to use unit numbers.')}"></p>
			<label>
				<input type="radio" name="unitgraphics" value="none" />
				<span th:text="${i18n.__('No unit graphics')}"></span>
			</label>
			<p th:text="${i18n.__('Select this to disable units.')}"></p>
		</section>
	</div><!--
	--><div class="col-sm-6">
		<section id="map" class="swipe-pane active">
			<div class="map-square">
				<div class="map-controls">
					<button class="btn btn-default zoom-in" th:title="${i18n.__('Zoom in')}">+</button>
					<button class="btn btn-default zoom-out" th:title="${i18n.__('Zoom out')}">-</button>
				</div>
				<div class="map-container">
					<img th:src="@{${url.image('maps/map_' + game.map.id + '.svg')}}" th:alt="${i18n.__('Map of %1$s', game.map.name)}" th:attr="data-unit-graphics=@{${url.image('game/units.svg')}}" />
				</div>
			</div>
		</section>
	</div>
</div>
<div id="turn-controls">
	<button class="btn btn-default collapsed" data-toggle="collapse" data-target="#controls-box">
		<span class="glyphicon glyphicon-chevron-up"></span>
		<span class="glyphicon glyphicon-chevron-down"></span>
	</button>
	<div class="collapse container-fluid" id="controls-box">
		<span class="user" th:text="${game.currentPlayer.name}" th:style="${'color: #' + game.currentPlayer.color}"></span>
		<button class="btn btn-default player-only" data-value="units-left-fortify" disabled th:title="${i18n.__('Number of units left to place')}"><span class="number">0</span></button>
		<button class="btn btn-default player-only" data-value="units-left-move" disabled th:title="${i18n.__('Number of units left to move')}"><span class="number">0</span></button>
		<button class="btn btn-primary player-only" data-button="stack" th:title="${i18n.__('Place new units instead of attacking')}"><span th:text="${i18n.__('Stack')}"></span> <span class="number">0</span></button>
		<button class="btn btn-warning player-only" data-button="move" th:title="${i18n.__('Stop attacking and start moving units')}"><span th:text="${i18n.__('Move')}"></span></button>
		<button class="btn btn-warning player-only" data-button="endturn" th:title="${i18n.__('Cede control and end your turn')}"><span th:text="${i18n.__('End turn')}"></span></button>
		<button class="btn btn-danger player-only pull-right" data-button="forfeit" th:title="${i18n.__('Surrender the game')}"><span th:text="${i18n.__('Forfeit')}"></span></button>
	</div>
</div>
<div id="radial-menu">
	<svg version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150">
		<defs>
			<path d="M 0 125 Q 0 25 75 25 V 0 L 125 50 75 100 V 75 Q 25 75 0 125 Z" fill="lime" id="pattern-img-arrow-green" />
			<path d="M 0 125 Q 0 25 75 25 V 0 L 125 50 75 100 V 75 Q 25 75 0 125 Z" fill="red" id="pattern-img-arrow-red" />
			<pattern viewBox="0 0 125 125" height="1" width="1" id="pattern-arrow-green">
				<use xlink:href="#pattern-img-arrow-green" />
			</pattern>
			<pattern viewBox="0 0 125 125" height="1" width="1" id="pattern-arrow-red">
				<use xlink:href="#pattern-img-arrow-red" />
			</pattern>
		</defs>
		<circle class="outer" r="50" cy="75" cx="75" />
		<circle class="inner" r="20" cy="75" cx="75" />
		<g data-button="move-from" th:title="${i18n.__('Move units from this territory')}">
			<path class="slice" d="M 81.18 94.021 L 90.451 122.553 A 50 50 0 0 0 125 75 L 95 75 A 20 20 0 0 1 81.18 94.021 Z" />
			<rect height="30" width="30" fill="url(#pattern-units-1)" x="88.316" y="80.572" />
			<rect height="13" width="13" y="82" x="108" fill="url(#pattern-arrow-green)" />
		</g>
		<g data-button="move-to" th:title="${i18n.__('Move units to this territory')}">
			<path class="slice" d="M 58.82 86.756 L 34.549 104.389 A 50 50 0 0 0 90.451 122.553 L 81.18 94.021 A 20 20 0 0 1 58.82 86.756 Z" />
			<rect height="30" width="30" fill="url(#pattern-units-1)" x="49.184" y="93.287" />
			<rect height="13" width="13" y="97" x="50" transform="rotate(90, 57.5, 102.5)" fill="url(#pattern-arrow-green)" />
		</g>
		<g data-button="stack" th:title="${i18n.__('Fortify this territory')}">
			<path class="slice" d="M 58.82 63.244 L 34.549 45.611 A 50 50 0 0 0 34.549 104.389 L 58.82 86.756 A 20 20 0 0 1 58.82 63.244 Z" />
			<rect height="30" width="30" fill="url(#pattern-units-1)" x="25" y="60" />
			<path d="M47 60 h 3 v 5 h 5 v 3 h -5 v 5 h -3 v -5 h -5 v -3 h 5 Z" fill="lime" />
		</g>
		<g data-button="attack-to" th:title="${i18n.__('Attack this territory')}">
			<path class="slice" d="M 81.18 55.979 L 90.451 27.447 A 50 50 0 0 0 34.549 45.611 L 58.82 63.244 A 20 20 0 0 1 81.18 55.979 Z" />
			<rect height="30" width="30" fill="url(#pattern-units-1)" x="49.184" y="26.713" />
			<rect height="13" width="13" y="30" x="50" transform="rotate(90, 57.5, 37.5)" fill="url(#pattern-arrow-red)" />
		</g>
		<g data-button="attack-from" th:title="${i18n.__('Attack from this territory')}">
			<path class="slice" d="M 95 75 L 125 75 A 50 50 0 0 0 90.451 27.447 L 81.18 55.979 A 20 20 0 0 1 95 75 Z" />
			<rect height="30" width="30" fill="url(#pattern-units-1)" x="88.316" y="39.428" />
			<rect height="13" width="13" y="44" x="105" fill="url(#pattern-arrow-red)" />
		</g>
	</svg>
</div>
<div class="hidden" id="template-card" th:attr="data-src=@{${url.image('cards/-card-number-.png')}}">
	<img class="card" />
</div>
</body>
</html>