<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="fragment">
<section>
	<h1 th:text="${i18n.__(map.name)}"></h1>
	<div class="row">
		<div class="col-md-6">
			<div id="description" th:utext="${map.getDescription(i18n.htmlLang)}"></div>
			<div id="regions">
				<h2 th:text="${i18n.__('Regions')}"></h2>
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th th:text="${i18n.__('Region')}"></th><th th:text="${i18n.__('Units per turn')}"></th><th th:text="${i18n.__('Number of territories')}"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="region : ${map.sortedRegions}">
							<td>
								<img th:src="@{${ctx.regionFlag(region)}}" alt="" /> <span th:text="${i18n.__(region.name)}"></span>
							</td>
							<td th:text="${region.units}"></td>
							<td th:text="${region.territories.size}"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="missions">
				<h2 th:text="${i18n.__('Missions')}"></h2>
				<div th:each="mission : ${map.missions.values}">
					<h3 th:text="${mission.name}"></h3>
					<p th:text="${mission.getDescription(i18n)}"></p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<noscript><p th:text="${i18n.__('Javascript needs to be enabled to interact with this map.')}"></p></noscript>
			<div id="map">
				<div class="map-square">
					<div class="map-controls">
						<button class="btn btn-default zoom-in" th:title="${i18n.__('Zoom in')}">+</button>
						<button class="btn btn-default zoom-out" th:title="${i18n.__('Zoom out')}">-</button>
					</div>
					<div class="map-container">
						<img th:src="@{${ctx.image('maps/image_' + map.id + '.svg')}}" th:alt="${i18n.__('Map of %1$s', map.name)}" />
					</div>
					<div>
						<div th:each="territory : ${map.sortedTerritories}" class="territory-hover" th:attr="data-territory=${territory.id}">
							<div class="flag" th:style="'background-image: url(' + @{${ctx.territoryFlag(territory)}} + ')'"></div>
							<div class="content">
								<h4 th:text="${i18n.__(territory.name)}"></h4>
								<ul class="regions">
<li th:each="region : ${territory.regions}">
	<span th:style="'background-image: url(' + @{${ctx.regionFlag(region)}} + ')'"></span>
	<span th:text="${i18n.__(region.name)}"></span>
</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</body>
</html>