<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="fragment">
<ul id="template-player-list" class="hidden">
	<li>
		<span data-template="name"></span>
		<span data-template="owner" th:text="${i18n.__('(Owner)')}"></span>
		<button data-template="kick" class="btn btn-danger" th:title="${i18n.__('Kick')}"><span class="glyphicon glyphicon-remove"></span></button>
	</li>
</ul>
<section>
	<h1 th:text="${i18n.__(title)}"></h1>
	<h4 th:text="${i18n.__('Map')}"></h4>
	<p><a th:href="@{${url.map(game.map)}}" th:text="${i18n.__(game.map.name)}"></a></p>
	<h4 th:text="${i18n.__('Players')}"></h4>
	<ul id="player-list">
		<li th:each="player : ${game.players}">
			<span th:style="${'color: #' + player.color}" th:text="${player.name}"></span>
			<span th:if="${game.owner == player}" th:text="${i18n.__('(Owner)')}"></span>
			<button th:if="${canKick &amp;&amp; !player.equals(ctx.user)}" class="btn btn-danger" th:title="${i18n.__('Kick')}" th:attr="data-kick=${player.id}"><span class="glyphicon glyphicon-remove"></span></button>
		</li>
	</ul>
	<div th:if="${game.inviteCode != null &amp;&amp; game.players.contains(ctx.user)}">
		<h4 th:text="${i18n.__('Invite code')}"></h4>
		<p><code><a th:href="@{${url.game(game)}(code=${game.inviteCode})}" th:text="${game.inviteCode}"></a></code></p>
	</div>
</section>
<section id="owner-controls" th:if="${game.owner.equals(ctx.user)}">
	<form method="post">
		<input th:class="${'btn btn-success' + (game.players.size == game.map.players ? '' : ' hidden')}" type="submit" name="startgame" th:value="${i18n.__('Start game')}" />
		<input class="btn btn-danger" type="submit" name="disband" th:value="${i18n.__('Disband game')}" />
	</form>
</section>
<section id="leave-game" th:if="${!game.owner.equals(ctx.user) &amp;&amp; game.players.contains(ctx.user)}">
	<form method="post">
		<input class="btn btn-warning" type="submit" name="leavegame" th:value="${i18n.__('Leave game')}" />
	</form>
</section>
<section id="join-game" th:if="${!game.players.contains(ctx.user) &amp;&amp; game.players.size &lt; game.map.players}">
	<form method="post">
		<span class="help-inline" th:if="${colorError != null}" th:text="${i18n.__(colorError)}"></span>
		<div th:class="${'input-group' + (colorError == null ? '' : ' has-error')}" id="game-color">
			<h3 th:text="${i18n.__('Choose a color')}"></h3>
			<div class="radio-color" th:each="color,state : ${colors}">
				<input type="radio" th:value="${color.value}" name="color" th:id="${'color-' + color.value}" th:checked="${state.first}" required />
				<label th:for="${'color-' + color.value}" th:title="${i18n.__(color.key)}">
					<span th:style="${'background-color: #' + color.value}" class="btn btn-default"></span>
					<span class="glyphicon glyphicon-chevron-up"></span>
				</label>
			</div>
		</div>
		<div th:class="${passwordError != null ? 'has-error' : ''}">
			<span class="help-inline" th:if="${passwordError != null}" th:text="${i18n.__(passwordError)}"></span>
			<div class="row" th:if="${game.hasPassword()}">
				<div class="col-sm-5">
					<div class="input-group">
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-lock"></span>
						</div>
						<input class="form-control" type="password" name="password" value="" th:placeholder="${i18n.__('Enter password')}" />
					</div>
				</div>
				<div class="col-sm-2">
					<p class="text-center" th:text="${i18n.__('or')}"></p>
				</div>
				<div class="col-sm-5">
					<div class="input-group">
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-bookmark"></span>
						</div>
						<input class="form-control" type="text" name="code" th:value="${code}" th:placeholder="${i18n.__('Enter invite code')}" />
					</div>
				</div>
			</div>
		</div>
		<input class="btn btn-success" type="submit" th:value="${i18n.__('Join game')}" />
	</form>
</section>
<div th:replace="chat::fragment"></div>
</html>