#regions img {
	height: 1em;
}

#map {
	position: relative;
	border: 1px solid #ddd;
}

#map.loading {
	cursor: wait;
}

#map .map-square {
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	position: relative;
}

#map .map-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	z-index: 0;
	text-align: center;
}

#map .map-container img {
	max-height: 100%;
	max-width: 100%;
}

#map .map-container svg g[id] {
	cursor: pointer;
}

#map .territory-hover {
	display: none;
	position: absolute;
	border: 1px solid #66023C;
	background-color: #fff;
	padding: 0 2em;
	box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
	pointer-events: none;
	z-index: 1;
}

#map .territory-hover h4 {
	color: #66023C;
}

#map .territory-hover .flag {
	position: absolute;
	top: -1em;
	left: -1.5em;
	width: 3em;
	height: 2em;
	border: 1px solid #66023C;
	background-position: center center;
	background-size: cover;
}

#map .territory-hover .content ul {
	list-style: none;
	padding: 0;
	line-height: 1;
}

#map .territory-hover .content li span {
	display: inline-block;
	height: 1em;
	width: 1.5em;
	background-position: center center;
	background-size: cover;
}

#map .map-controls {
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0.5;
	display: none;
	z-index: 2;
}

#map .map-controls:hover {
	opacity: 1;
}

#map .map-controls button {
	display: block;
	width: 1.5em;
	height: 1.5em;
	border-radius: unset;
	padding: 0;
	line-height: 1;
}

#map .map-controls button.zoom-in {
	cursor: zoom-in;
}

#map .map-controls button.zoom-out {
	cursor: zoom-out;
}

#map svg {
	transition: height 1s;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}